<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Registeration
        link(rel="stylesheet", href="/assets/all.min.css")
        link(rel="stylesheet", href="/css/styles.css")
    body
        header.reg-header.text-center
            //- logo
            a(href="/")
                img(src="/assets/logo.png", alt="energia logo")
            
        block content

        footer.text-center
            p Made By 
                a(href="https://www.linkedin.com/in/mohamed-saad-23424714b", target="_blank")  Mohamed Saad

