extends layout
block content

        header.reg-header.text-center

            //- caption
            p.header-caption 
                | Please fill in some information and make sure to fill all fields with 
                span.red * 
                | sign.
        section.text-center(style="margin: 40px;")
            a(href="/dashboard", style="color: #fff; text-decoration: underline") Dashboard
        .container
            //- form card
            section.form-card
                form#regForm
                    h1.text-center.card-head Register
                    // One "tab" for each step in the form:
                    section.form-fields
                        //- name
                        .half
                            label(for="fname") First Name 
                                span.red * 
                            input#fname(type="text" name="fname", placeholder="e.g: Mohamed")
                        .half
                            label(for="lname") Last Name
                                span.red * 
                            input#lname(type="text" name="lname", placeholder="e.g: Saad")

                        //- email
                        label(for="email") Your Email Address
                            span.red * 
                        input#email(type="text" name="email", placeholder="e.g: example@example.com")

                        //- phone
                        label(for="phone") Your Phone Number
                            span.red * 
                        input#phone(type="tel" name="phone", placeholder="e.g: 01003400000")

                        //- university
                        label(for="university") University
                            span.red * 
                        input#university(type="text" name="university", placeholder="e.g: Cairo University")

                        //- college
                        label(for="college") College
                            span.red * 
                        input#college(type="text" name="college", placeholder="e.g: Engineering")
                
                        //- committee
                        label(for="committee") Choose the committee you want to join
                            span.red * 
                        select#committe(name="committee")
                            option(value="IT") IT
                            option(value="HR") HR

                        //- reason for joining
                        label(for="join-reason") Why did you choose this committee
                            span.red * 
                        textarea#join-reason(name="reason", cols="30", rows="10", placeholder="e.g: To learn")

                        //- submit
                        input(type="submit", value="Register")

        // The Modal
        #val-modal.modal
            // Modal content
            .modal-content
                .modal-body
                    img(src="/assets/loader.gif", alt="loading ...")


        script(src="/js/main.js", defer)