@import "framework.css";

/* style the header */
.header-caption {
  margin-bottom: 40px;
}

/* style the form card */
.form-card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 13px 9px #131313;
  border-radius: 10px;
  margin-bottom: 30px;
}

.form-card .form-fields {
  background-color: #1f2428;
  padding: 30px;
}

/* style the heading of the form */
.form-card h1 {
  background-color: #454c5e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

/* style the labels */
.form-card label {
    margin-bottom: 10px;
}

/* style the inputs */
.form-card input,
.form-card select,
.form-card textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 1px solid #454c5e;
    outline: 0;
}

input.valid,
select.valid,
textarea.valid {
  border: 3px solid green;
}

input.invalid,
select.invalid,
textarea.invalid {
  border: 3px solid #bd2424;
}

.form-card input:focus,
.form-card select:focus,
.form-card textarea:focus {
    border: 3px solid #0c68ab;
}

/* style the submit button */
.form-card input[type="submit"] {
    width: 30%;
    padding: 10px;
    color: #fff;
    background-color: rgba(12, 104, 171, 0.8);
    border: none;
    outline: 0;
    border-radius: 7px;
    cursor: pointer;
}

.form-card input[type="submit"]:hover {
  background-color: rgba(12, 104, 171, 1);;
}

.form-card input[type="submit"]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
